
@{
    ViewData["Title"] = "About";
}

<!-- Start Story-->
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Our Story</h1>
                <p>
                    As the Space Agency of the Republic of Azerbaijan, we are committed to providing customized solutions based on advanced technologies for peace and prosperity. We focus on providing connectivity globally, nurturing talent, serving as a regional space hub and contributing to the space industry development in Azerbaijan.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/assets/img/images (3).jpg" alt="About Hero">
            </div>
        </div>
    </div>
</section>
<!-- Close Story -->
<!-- Start Tools -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Our Tools</h1>
            <p>
                Our customer tools give you a chance to calculate the azimuth and elevation of your location in order to point the ground antenna towards the satellite and determine the next Sun outage to predict signal interruption and possible loss in transmission.
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Occasional Uses</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">Cooperation with Globals</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Promotion</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">24 Hours Service</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Tools -->
<!-- Start Partners -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Partnerships</h1>
                <p>
                    We seek to drive technological advancement through research and development activities, bringing together brilliant minds from spheres such as software development, artificial intelligence, aerospace and robotics.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">SpaceX</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Nasa</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Tesla</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Apple</h3></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Socar</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Samsung</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Xiaomi</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Ebay</h3></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">BP</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Microsoft</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Meta</h3></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><h3 style="color: gray; ">Walmart</h3></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Partners-->
